{% extends 'base.html' %}

{% block css_scripts %}
  <link rel="stylesheet" href="/static/css/about.css">
{% endblock %}

{% block title %} About {% endblock %}

{% block content %} 

  <div class="row justify-content-md-center">
    <div class="fullscreen-bg">
      <video loop muted autoplay poster="/static/css/coverr/field/field.jpg" class="fullscreen-bg__video">
          <source src="/static/css/coverr/field/field.webm" type="video/webm">
          <source src="/static/css/coverr/field/field.mp4" type="video/mp4">
          <source src="/static/css/coverr/field/field.ogv" type="video/ogg">
      </video>
    </div>

    <div class="col-6">
      <div class="header">
        <header>
          <h2>About</h2>
          <h4>Project Description</h4>
        </header>
      </div>

      <div class="main-content">
        <p>We need resources that make the information about our environment easy for everyone to access. Especially when events in the environment particularly disasters seem to be occuring more frequently. Disasters are all over the news these days but often the information we recieve is incomplete. The goal with this project it to try to show what happens after the event in regards to grants awarded by FEMA. It also will give additional information about the counties affected and when the event occured.</p>
        <p> My goal is to make the data easier to interact with and understand. Anyone should be able to share the general information and trends to others if they wish.</p>
      </div>

      <div class="header">
        <header>
          <h4>Project Creator Description</h4>
        </header>
      </div>
        
      <div class="main-content">
        <p> I am super interested in why disasters happen and why they have the effects they do on society.</p>
        <p> I majored in Society and Environment at UC Berkeley and my concentration was in US Environmental Policy. In other words, how does the environment affect society and what can we as a society do to lessen the negative effects that the environment has on us. Throughout my coursework I always wished that I had resources like the one that I created on various topics when learning about the environment.</p>
      </div>
    </div>

  </div>

{% endblock %}

{% block scripts %}
{% endblock %}