<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	
	<title>{% block title %} Put the title here! {% endblock %}</title>
	

</head>

<body>

	<div id="nav-bar">
		<a href="/">Homepage</a>
		<a href="/about">About</a>
		<a href="/contact">Contact</a>
		
		{% set user_id = session.get("user_id") %}

		{% if user_id %}
			<a href="/users/{{user_id}}">User Page</a> 
			<a href="/logout">Logout</a>

		{% else %}
			<a href="/registration">Registration</a>
			<a href="/login">Login</a>
			
		{% endif %}

		<hr> <hr>
	</div>

	<ul>
		{% for message in get_flashed_messages() %}
		<li>{{message}}</li>
		{% endfor %}
	</ul>

  	{% block content %} Content Goes Here
	  	<div class="header">
			<header>
				<h2>Page Title</h2>
				<h4>Subheading/Description</h4>
			</header>
		</div>

		<div class="side-nav-bar">
			<header>
				<h4>Side Nav Bar Heading</h4>
			</header>

		</div>

		<div class="main-content">
			<p>Content goes here</p>
		</div> 
	{% endblock %}
  	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>