{% extends 'base.html' %}

{% block title %} Contact {% endblock %}

{% block content %} 
  <div class="container-fluid">
    <div class="header">
        <header>
            <h2>Contact Page</h2>
        </header>
    </div>

    <div class="main-content">
        <p>Find other projects and work by the creator of this page at her:</p>
        <ul>
          <li><a href="https://www.linkedin.com/in/rachel-m-lynch/">LinkedIn Profile</a></li>
          <li><a href="https://github.com/rachel-m-lynch">Github Page</a></li>
        </ul>
        <p>Also if you have any suggestions of new features to add or if you see broken links feel free to let me know!</p>
    </div> 
  </div>

{% endblock %}