{% extends 'base.html' %}

{% block css_scripts %}
  <link rel="stylesheet" href="/static/css/contact.css">
{% endblock %}

{% block title %} Contact {% endblock %}

{% block content %} 
  <div class="row justify-content-md-center">
    <div class="fullscreen-bg">
      <video loop muted autoplay poster="/static/css/coverr/geyser/geyser.jpg" class="fullscreen-bg__video">
          <source src="/static/css/coverr/geyser/geyser.webm" type="video/webm">
          <source src="/static/css/coverr/geyser/geyser.mp4" type="video/mp4">
      </video>
    </div>
    <div class="col-6">
      <div class="header">
          <header>
              <h2>Contact Page</h2>
          </header>
      </div>

      <div class="main-content">
          <p>Find other projects and work by the creator of this page at her:</p>
          <ul>
            <li><a href="https://www.linkedin.com/in/rachel-m-lynch/">LinkedIn Profile</a></li>
            <li><a href="https://github.com/rachel-m-lynch">Github Page</a></li>
          </ul>
          <p>Also if you have any suggestions of new features to add or if you see broken links feel free to let me know!</p>
      </div> 
    </div>
  </div>

{% endblock %}

{% block scripts %}
{% endblock %}