{% extends 'base.html' %}

{% block title %} Disaster Declarations {% endblock %}

{% block content %} 
	
	<div class="side-nav-bar">
		<header>
			<h4>Side Nav Bar Heading</h4>
		</header>
	</div>

	<div class="header">
		<header>
			<h2>Disaster Declaration List Page</h2>
			<p>There are <b>{{disaster}}</b> disaster declarations in this database.</p>
		</header>
	</div>

	<div class="main-content">
	<ul>
		{% for event in events_list %}
		  <li>
		  	<a href="/events/{{ event.id }}">
		  		{{ event.name }} ({{ event.fema_id }}) 
		  	</a>
		  </li>
		{% endfor %}
	</ul>
	</div>

{% endblock %}