{% extends 'base.html' %}

{% block css_scripts %}
  <link rel="stylesheet" href="/static/css/event-info.css">
{% endblock %}

{% block title %} Event {% endblock %}

{% block content %} 

  <div class="row justify-content-md-center">
    <div class="fullscreen-bg">
      {% if event.disaster_type == "Dam/Levee Break" or event.disaster_type == "Mud/Landslide" %}
        <img src="/static/css/photos/{{ event.disaster_type[:3] }}/{{ event.disaster_type[:3] }}.jpg" class="img-fluid" alt="Responsive image">
      {% elif event.disaster_type == "Human Cause" or event.disaster_type == "Terrorist" or event.disaster_type == "Earthquake"%}
        <img src="/static/css/photos/other/rain.jpg" class="img-fluid" alt="Responsive image">
      {% else %}
        <img src="/static/css/photos/{{ event.disaster_type }}/{{ event.disaster_type }}.jpg" class="img-fluid" alt="Responsive image">
      {% endif %}
    </div>
    <div class="col-2">
      <div class="side-nav-bar">
        <div class="side-nav-header">
          <header>
            <h4>Site Navigation</h4>
          </header>
        </div>

        <div class="side-nav-content">
          <ul>
            <li><a href="/events">Disaster Declarations</a></li>
            <li><a href="/search">Search for a Event</a></li>
          </ul>
          <div class="search-form">
        <form action="/events" >
          <div class="form-group">
            <label for="inputFemaID">Search by FEMA ID:</label>
            <input class="form-control" type="search" id="inputFemaID" placeholder="Enter FEMA ID" aria-label="searchHelp" name="fema-id">
            <small id="searchHelp" class="form-text text-muted">
            The FEMA ID is the number associated with the event and ranges from one to four numbers.
            </small>
          </div>
          <button type="submit" class="btn btn-light my-2 my-sm-0" >Search</button>
        </form>
      </div>
        </div>
      </div>
    </div>
    
    <div class="col-6">
      <div class="header">
        <header>
          <h2>{{event.name}} ({{event.declaration_id}} {{event.fema_id}})</h2>
        </header>
      </div>

      <div class="main-content">
        {% if session.get("user_id") %}

          <form id="save-event-form" method="POST">
            <div class="form-group">
              <label for="event-id">Save this event?</label>
              {% for items in user_saved_searches %}
                {% if items.fema_id == event.fema_id %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert" id="alert">
                  <strong>This event has been saved under your account</strong>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                {% endif %}
              {% endfor %}
              <select class="form-control" type="form-select" id="event-id" name="events_id" aria-label="saveHelp">
                <option value="{{ event.fema_id }}" name ="{{ event.fema_id}} ">Yes</option>
                <small id="saveHelp" class="form-text text-muted">
                  If you want to quickly reference this event in the future please save the event to your user profile.
                </small>
              </select>
            </div>
            <button type="submit" class="btn btn-light my-2 my-sm-0" >Submit</button>
          </form>

        {% endif %}
        <br>
        <ul>
          <li type='none'><b><u>Incident Start Date:</u></b> {{ event.start_date }}</li>
          <li type='none'><b><u>Incident End Date:</u></b> {{ event.end_date }}</li>
          <li type='none'><b><u>Incident Declared On:</u></b> {{ event.declared_on }}</li>
          <li type='none'><b><u>Incident Close Out Date:</u></b> {{ event.close_out_date }}</li>
          <li type='none'><b><u>Disaster Type:</u></b> {{ event.disaster_type }}</li>
          <li type='none'><b><u>Damaged Property:</u></b> {{ event.damaged_property }} </li>
        </ul> 
        <h4>Grants:</h4>
          <ul>
            {% for grant in event.grants  %}
              <li type='none'><b><u>{{ grant.grant }}:</u></b> {{grant.total}} </li>
            {% endfor %}  
            {% if event.grants == [] %}
              <li type='none'>No known grants awarded</li>
            {% endif %}
          </ul>
        
        {% if counties[0].county %}
        
          <h4>{{ counties_affected }} Counties Affected:</h4>
          <ul>
            {% for i in counties %}

              <li>{{i.county}}</li>
            
            {% endfor %}
          </ul>
        {% else %}
        <br>
        <h5>No counties found for this disaster.</h5>
        {% endif %}
      </div> 
    </div>
    {% if session.get("user_id") %}
      
      <div class="col-sm">
        <div class="side-nav-bar">
          <div class="side-nav-header">
            <header>
              <h4><a href="/users/{{ user.id }}">{{ user.username }}'s Saved Events</a></h4>
            </header>
          </div>

          <div class="side-nav-content">
           {% if user_saved_searches %}
              <ul id="saved-events">
                {% for searches in user_saved_searches %}
                  <li><a href="/events/{{ searches.fema_id }}"> {{searches.name}} ({{searches.declaration_id}} {{searches.fema_id}})</a></li>
                {% endfor %}
              </ul>
            {% else %}
              <p>No searches saved. </p>
            {% endif %} 
          </div>
        </div>
      </div>
    {% endif %}
  </div>
  
  <div class="row justify-content-md-center" >
    <div class="d-flex flex-col-6" id="footer">
      <p>FEMA cannot verify the quality and/or timeliness of any data or any analysis derived therefrom after the data has been retrieved from FEMA.gov.</p>
    </div>
  </div>

{% endblock %}
{% block scripts %}
  <script type="text/javascript" src="/static/js/user-save-evt.js"></script>
{% endblock %}