{% extends 'base.html' %}

{% block title %} Homepage {% endblock %}

{% block content %} 

	Welcome to the Homepage! 
	<div id="side-nav">
		<ul>
			<li><a href="/events">Disaster Declarations</a></li>
			<!-- <li><a href="/types">Disaster Types</a></li> -->
			<li><a href="/search">Search for a Event</a></li>
			<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		</ul>
	</div>
	<div>
		<ul>
			<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
			<li><a href="/us-map">US Map</a></li>
			<li><a href="/geolocate">Geolocate</a></li>
			<li><a href="/places_locate">Find a Place</a></li>
		</ul>
	</div>
{% endblock %}

