{% extends 'base.html' %}

{% block css_scripts %}

  <link rel="stylesheet" href="/static/css/homepage.css">

{% endblock %}
{% block title %} Homepage {% endblock %}

{% block content %} 
	

  <div class="row justify-content-md-center">
    <div class="fullscreen-bg">
      <video loop muted autoplay poster="/static/css/coverr/truck/truck.jpg" class="fullscreen-bg__video">
          <source src="/static/css/coverr/truck/truck.webm" type="video/webm">
          <source src="/static/css/coverr/truck/truck.mp4" type="video/mp4">
          <source src="/static/css/coverr/truck/truck.ogv" type="video/ogg">
      </video>
    </div>


    <div class="col-5">
        <div class="header">
          <header>
            <h1 class="text-center">Welcome to the Homepage!</h>
          </header>
        </div>

        <div class="main-content">
          <br>
          <!-- <div class="alert alert-light" role="alert"> -->
            <h2 class="text-center"><a href="/events" class="alert-link">Disaster Declarations</a></h2>
            <h2 class="text-center"><a href="/search" class="alert-link">Search for a Event</a></h2>
          <!-- </div> -->
          <br>

          <div class="search-form">
            <form action="/events" >
              <div class="form-row justify-content-md-center">
                <div class="col-4">
                  <label for="inputFemaID"><h4 class="text-center">Search by FEMA ID:</h4></label>
                  <input class="form-control form-control-lg" type="search" id="inputFemaID" placeholder="Enter a FEMA ID" aria-label="searchHelp" name="fema-id">
                  <small id="searchHelp" class="form-text text-muted text-center">
                  The FEMA ID is the number associated with the event and ranges from one to four numbers.
                  </small>
                  <br>
                  <button type="submit" class="btn btn-light my-2 my-sm-0 btn-block" >Search</button>
              </div>
              </div>
              
            </form>
          </div>
        </div>
      {% if session.get("user_id") %}
        <hr><hr>
           
        <div class="subheading">
          <header>
            <h4 class="text-center"><a href="/users/{{ user.id }}">{{ user.username }}'s Saved Events</a></h4>
          </header>
        </div>

        <div class="content">
          {% if user_saved_searches %}

            <ul id="saved-events">
              {% for searches in user_saved_searches %}
                <li type="square"><a href="/events/{{ searches.fema_id }}"> {{searches.name}} ({{searches.declaration_id}} {{searches.fema_id}})</a></li>
              {% endfor %}
            </ul>
          {% else %}
            <p>No searches saved. </p>
          {% endif %}
        </div>
      {% endif %}

    </div>

    
	</div>
{% endblock %}

{% block scripts %}
{% endblock %}

