{% extends 'base.html' %}

{% block css_scripts %}
  <link rel="stylesheet" href="/static/css/login.css">
{% endblock %}

{% block title %} Login {% endblock %}

{% block content %} 
  <div class="row justify-content-md-center">
    <div class="fullscreen-bg">
      <video loop muted autoplay poster="/static/css/coverr/forest/forest.jpg" class="fullscreen-bg__video">
          <source src="/static/css/coverr/forest/forest.webm" type="video/webm">
          <source src="/static/css/coverr/forest/forest.mp4" type="video/mp4">
      </video>
    </div>
    <div class="col-6">
      <h2> Login Page </h2>

      <form action="/login" method="POST" id="login-form">
        <div class="form-group">
          <label for="username">Username</label>
        	<input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
        	<input type="text" class="form-control" id="password" name="password" placeholder="Enter password">
        </div>
        <button type="submit" class="btn btn-light" id="login-button">Submit</button>
      </form>
    </div>
  </div>
 
{% endblock %}

{% block scripts %}
{% endblock %}