{% extends 'base.html' %}

{% block css_scripts %}
  <link rel="stylesheet" href="/static/css/user-info.css">
{% endblock %}

{% block title %} User Info {% endblock %}

{% block content %}
  <div class="row justify-content-md-center">
    <div class="fullscreen-bg">
      <video loop muted autoplay poster="/static/css/coverr/truck/truck.jpg" class="fullscreen-bg__video">
          <source src="/static/css/coverr/truck/truck.webm" type="video/webm">
          <source src="/static/css/coverr/truck/truck.mp4" type="video/mp4">
      </video>
    </div>
		<div class="col-2">
      <div class="side-nav-bar">
        <div class="side-nav-header">
          <header>
            <h4>Site Navigation</h4>
          </header>
        </div>

        <div class="side-nav-content">
          <ul>
            <li><a href="/events">Disaster Declarations</a></li>
            <li><a href="/search">Search for a Event</a></li>
          </ul>
          <form class="form-inline my-2 my-lg-0" action="/events" >
            <input class="form-control mr-sm-2" type="search" placeholder="Search for a FEMA ID" aria-label="Search" name="fema-id">
            <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-sm">
			<h2> {{user.username}}'s Info </h2>
			<hr>
				<p>Email: {{user.email}}</p>
				<p>Password: {{user.password}}</p>
				<p>Occupation: {{user.occupation}}</p>
			<hr>

			{% if user_saved_searches %}
				<ul>
				  {% for searches in user_saved_searches %}
            <li type="square"><a href="/events/{{ searches.fema_id }}"> {{searches.name}} ({{searches.declaration_id}} {{searches.fema_id}})</a></li>
          {% endfor %}
				</ul>
			{% else %}
				<p>No searches saved. </p>
			{% endif %}
		</div>

	</div>
{% endblock %}

{% block scripts %}
{% endblock %}