{% extends 'base.html' %}

{% block css_scripts %}
  <link rel="stylesheet" href="/static/css/about.css">
{% endblock %}

{% block title %} User Info {% endblock %}

{% block content %}
  <div class="row justify-content-md-center">
    <div class="fullscreen-bg">
      <video loop muted autoplay poster="/static/css/coverr/beach/beach.jpg" class="fullscreen-bg__video">
          <source src="/static/css/coverr/beach/beach.webm" type="video/webm">
          <source src="/static/css/coverr/beach/beach.mp4" type="video/mp4">
      </video>
    </div>
    <div class="col-6">
    <h2>Users</h2>

      <ul>
        {% for user in users %}
          <li type="square">
            <a href="/users/{{ user.id }}">
              {{ user.username }} ({{ user.id }})
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}

{% block scripts %}
{% endblock %}